:root {
    --color1: rgba(255,255,255,1);
    --color2: rgba(248,250,255,1);
    --color3: rgba(246,246,246,1);
    --color4: rgba(45,45,45,1);
    --color5: rgba(27,35,40,1);
    --color6: rgba(15,16,18,1);
}

html {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'lato', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); 
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    outline: none;
}

body {
    background-color: black;
}

/* font styles */
h1 {
    color: var(--color1);
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    padding: .2em;
    letter-spacing: .01em;
}

h2 {
    color: var(--color5);
    font-size: 3.3em;
    font-weight: 900;
    text-align: left;
    padding: 0 .2em 0 .2em; 
}

.paragraph {
    color: var(--color5);
    font-size: 2.5em;
    padding: 0 1em;
}

a {
    text-decoration: none;
}

/* section-container design */
.section-container {
    height: 30em;
    width: auto;
}

.container-width {
    max-width: 1024px;
}

/* header-container */
#header-top-container {
    background-color: var(--color5);
    height: 100%;
    position: relative;
    overflow: hidden; 
    opacity: 0.2;
    z-index: -1;
}
    #header-video {
        width: 100%;
    }

    /* H1 area */
    #h1-container {
        margin-top: -28em;
        margin-bottom: 15em;
        opacity: 0.4;
    }

    /* nav-bar area */
    #nav-bar {
        background-color: var(--color6);
        height: 8em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

            /* nav icons */
            .nav-box {
                background-color: var(--color4);
                color: var(--color1);
            }

            .nav-box:hover, .nav-box:focus {
                transform: scale(1.15);
            }

                #nav-box-1, #nav-box-2, #nav-box-3 {
                    height: 12em;
                    width: 12em;
                    display: inline-block;
                    margin-top: -9em;
                    margin-left: 1.3em;
                    margin-right: 1.3em;
                    flex: 1 1 auto;
                }

                .nav-box > i {
                    margin: 15% 0% 0 29%;
                    font-size: 4em;
                }

                .nav-box-text {
                    text-align: center;
                    font-size: 2.2em;
                    margin-top: .7em;
                }

/*About Section */
#about-container {
    margin-top: 8vh;
    background-color: var(--color4);
    height: auto;
}

#about-me-container {
    background-color: var(--color3);
    height: auto;
}

    #h2-about {
        padding: .7em .4em;
        margin-bottom: -.5em;
    }

    #about-text-image-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
    }

    #about-text-container {
        justify-self: flex-start;
        flex: 2 1 auto;
    }

    #about-image-container {
        justify-self: flex-end;
        flex: 0 1 auto;
        padding: 0 2em 5em 0;
        margin-top: 3em;
        float: right;
    }
    
    #about-image-container > img {
        border: .3em solid gray;
        border-radius: 50%;
        width: 20em;
        height: auto;
        box-shadow: 0 5px 10px gray, 0 4px 4px gray;
    }

    /* skills area */
    #skills-container {
        background-color: var(--color3);
        height: 10.5em;
        text-align: center;
        margin-top: -2.2em;
        padding: 1px 0 9px 0;
        letter-spacing: 1em;
    }

        #skills-container > * i {
            font-size: 9em;
            color: var(--color4);
        }

/* portfolio area */
#portfolio-container {
    background-color: var(--color4);
    height: auto;
}

#portfolio-container > * {
    color: white;
    padding: 0;
    margin: 0;
}

    #portfolio-container {
        padding: 1.8em 2.2em;
    }

    #h2-portfolio {
        margin-bottom: 1em;
    }
    .portfolio-grid {
        margin-left: 2em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
        grid-gap: 4em;
        width: 100%;
        align-items: center;
    }

        .portfolio-item {
            color: var(--color6);
        }

            .portfolio-image {
                width: 100%;
            }

            .portfolio-box {
                opacity: 0.6;
            }

            .portfolio-bottom {
                height: auto;
                width: 100%;
                background-color: var(--color3);
                padding-bottom: 1em;
            }

            .portfolio-box:hover, .portfolio-box:focus {
                transform: scale(1.06);
                opacity: 1;
            }

            .portfolio-grid > * p {
                margin: -.3em;
                padding: .2em .4em;
            }

            .portfolio-box {
                border: 1em solid var(--color6);
                border-radius: 1em;
                text-align: center;
            }

            .portfolio-separator {
                width: 80%;
            }

            .portfolio-separator {
                height: 4px;
                background-color: var(--color6);
            }

            .portfolio-link-area {
                display: none;
            }

            .portfolio-box:hover .portfolio-link-area {
                display: block;
                background-color: var(--color6);
                height: 100%;
                width: 100%;
                padding: 0px 1px;
                margin: 0 -1px -19px;;
            }

                .portfolio-link-separator {
                    margin: 18px 0;
                    opacity: 0;
                }

                .portfolio-link-text {
                    color: white;
                    font-size: 3em;
                }

/* contact area */
#contact-container {
    background-color: aquamarine;
    height: 25em;
    margin-top: 2em;
}

/* footer area */
#footer-container {
    background-color: magenta;
    height: 13em;
    margin-top: 2em;
}